.container{
    padding: 10px;
    height: 100vh;
    max-width: 600px;
    margin: auto;
}
.search{ 
    width: 100%;
    border : 2px solid gray;
    border-radius: 5px;
    height: 50px;
    display: flex;
    font-size: 20px;
    padding: 2px;
    align-items: center;
    justify-content: space-around;
}
.location:hover{
    font-size:25px ;
}