.temprature{ 
    display: grid;
    grid-template-columns: 30% 30% 40%;
    align-items: center;
    justify-content: center; 
}
.sunset{
    display: flex;
    align-items: center;
    justify-content: center;
}
