.temprature{ 
    display: grid;
    grid-template-columns:  25% 25% 50%;
    align-items: center;
    justify-content: center; 
}
.sunset{
    display: flex;
    align-items: center;
    justify-content: center;
}
